services:
  mno_simulator:
    build: ./mno_simulator
    volumes:
      - ./parser/example_data:/app/example_data:ro
      - mno_data_to_upload:/app/data_to_upload
      - mno_data_uploaded:/app/data_uploaded
    environment:
      - SFTP_PASSWORD=${SFTP_PASSWORD}
    # Uncomment to override config values
    # - SFTP_HOST=your_sftp_host
    # - SFTP_PORT=22

  parser:
    build: ./parser
    ports:
      - "5004:5004"
    depends_on:
      - database
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@database:5432/mydatabase


  metadata_processor:
    build: ./metadata_processor
    ports:
      - "5001:5001"
    depends_on:
      - database
    volumes:
      - ./metadata_processor:/app

  database:
    build: ./database
    ports:
      - "5432:5432"

  processor:
    build: ./processor
    ports:
      - "5002:5002"
    depends_on:
      - database
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@database:5432/mydatabase

  visualization:
    build: ./visualization
    ports:
      - "5003:5003"
    depends_on:
      - database
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@database:5432/mydatabase

  webserver:
    build: ./webserver
    ports:
      - "5000:5000"
    depends_on:
      - database
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@database:5432/mydatabase
    volumes:
      - webserver_data_incoming:/app/data_incoming
      - webserver_data_staged:/app/data_staged_for_parsing
      - webserver_data_archived:/app/data_archived

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    depends_on:
      - database
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_SECURITY_ALLOW_EMBEDDING=true
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning

volumes:
  webserver_data_incoming:
  webserver_data_staged:
  webserver_data_archived:
  grafana_data:
  mno_data_to_upload:
  mno_data_uploaded: